/**
 * Grayscale Color Constants
 */
$color-gray-13: #000000;
$color-gray-12: #141414;
$color-gray-11: #1F1F1F;
$color-gray-10: #262626;
$color-gray-9: #434343;
$color-gray-8: #595959;
$color-gray-7: #8C8C8C;
$color-gray-6: #BFBFBF;
$color-gray-5: #D9D9D9;
$color-gray-4: #F0F0F0;
$color-gray-3: #F5F5F5;
$color-gray-2: #FAFAFA;
$color-gray-1: #FFFFFF;

/**
 * Primary Color Constants
 */
$color-primary-11: #3C39C0;
$color-primary-10: #4745CB;
$color-primary-9: #5C5ADD;
$color-primary-8: #8280F5;
$color-primary-7: #9290FB;
$color-primary-6: #A7A5FF;
$color-primary-5: #BCBAFF;
$color-primary-4: #C5C4FF;
$color-primary-3: #D2D2FF;
$color-primary-2: #E9E9FF;
