@import "~antd/lib/style/color/colorPalette.less";
@import "~antd/dist/antd.less";
@import "~antd/lib/style/themes/dark.less";

@body-background: #141414;
@primary-color: #5C5ADD;
@border-radius-base: 8px;

@font-size-base: 16px;

@btn-height-lg: 56px;
@btn-height-base: 44px;
@btn-height-sm: 30px;

@btn-font-size-lg: 20px;
@btn-font-size-base: 16px;
@btn-font-size-sm: 14px;

@btn-disable-border: none;
@btn-border-style: none;

@btn-padding-horizontal-base: 26px;
@btn-padding-horizontal-lg: 32px;
@btn-padding-horizontal-sm: 14px;

@input-height-base: 42px;

@radio-size: 24px;
@radio-top: 0;
@radio-border-width: 0;
@radio-dot-size: @radio-size - 8px;
@radio-dot-color: @primary-color;
@radio-button-bg: #434343;
@radio-solid-checked-color: @component-background;

.ant-radio-group {
  .ant-radio-wrapper {
    align-items: center;
  }
}

.ant-input {
  background: #434343;

  &:focus {
    background: #434343;
  }

  &:hover {
    background: #434343;
    opacity: .75;
  }
}

.ant-btn {
  font-weight: 500;
}