@import "~antd/lib/style/color/colorPalette.less";
@import "~antd/dist/antd.less";
@import "~antd/lib/style/themes/dark.less";

@body-background: #1F1F1F;
@primary-color: #5C5ADD;
@border-radius-base: 8px;

@btn-height-lg: 56px;
@btn-height-base: 46px;
@btn-height-sm: 30px;
@btn-font-size-lg: 20px;
@btn-font-size-base: 18px;
@btn-font-size-sm: 14px;

.ant-btn {
  font-weight: 500;
}