@font-face {
  font-family: 'SpoqaHanSansNeo-Regular.otf' format('woff');
  src: url(./assets/fonts/SpoqaHanSansNeo_OTF_original/SpoqaHanSansNeo-Regular.otf)
    format('woff');
  font-weight: normal;
  font-style: normal;
}